body {
  background-color: #04a6eb;
  color: #fdffff;
  width: 500px;
  
  margin-right: auto;
  margin-left: auto;
button{
    padding: 5px 18px;
    background-color: #2c44ff;
    color: #fdffff;
    border-style: none;
}
input{
 height: 25px;   
}

}
